@media (max-width: 1199px) {
    .order {
        &__input {
            width: 250px;
        }

        .btn {
            width: 200px;
        }
    }
}

@media (max-width: 991px) {
    .order {
        &__form {
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 0 70px;
        }

        &__input {
            margin: 0 15px;
        }

        .btn {
            margin: 35px 45px 0;
        }
    }
}

@media (max-width: 767px) {
    .order {
        &__form {
            justify-content: space-between;
            margin: 35px 0 0;
            padding: 0 40px;
            height: 150px;

            img {
                margin: 0 auto;
            }
        }

        &__input {
            margin: 0 10px;
            width: 220px;
        }

        .btn {
            width: 220px;
            margin: 0 10px;
        }
    }
}

@media (max-width: 575px) {
    .order {
        &__form {
            img {
                display: none;
            }
        }

        &__input {
            margin: 0 10px 15px;
            width: 100%;
        }

        .btn {
            width: 100%;
            margin: 0 10px;
        }
    }
}

@media (max-width: 325px) {}